################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Deep/v16
/Deep.vcxproj
/Deep.vcxproj.filters
/Deep.vcxproj.user
